fastapi==0.115.12
pandas==2.3.0
pydantic==2.11.5
requests==2.32.4
uvicorn==0.34.3
datasets
scikit-learn==1.5.1
joblib==1.4.2
pytest==8.3.2
numpy==1.26.4 
spacy==3.6.1
scipy==1.14.1
xgboost
streamlit
emoji
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl